server {
  listen $PORT default_server;

  location / {
    add_header 'Access-Control-Allow-Origin' '*';
    add_header 'Access-Control-Allow-Credentials' 'true';
    root   /usr/share/nginx/html/pdfjs;
  }
}
